@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
header {
    background-color: #f5f1e6;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .logo {
    height: 70px;
    width: auto;
    margin-left: 30px;
    margin-top: 25px;
}

header nav ul {
    font-size: 25px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 30px;
    color: white;
}

header h1{
        font-size: 10px;
}

.introducao {
    background-color: black;
    color: white;
    display: flex;
    gap: 25px;
    padding: 0px; 
    position: relative;
}

.introducao-imagem img{
    width: 65%;
    height: auto;
    position: relative;
    margin: 0px 0px 0px 685px;
}

.introducao-texto {
    color: rgb(255, 183, 50);
    position: absolute;
    line-height: 1.5;
    font-size: 35px;
    z-index: 1;
    padding: 10px;
}

.introducao-texto h2 {
    font-family: "Amatic SC", cursive;
    font-size: 45px;
}

.cardapio {
    padding: 20px;
    text-align: center;
    background-color: #f5f1e6;
}

.cardapio h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardapio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 por linha */
  gap: 40px;
}


.cardapio-item {
  background: #111;
  color: white;
  border-radius: 12px;
  overflow: hidden; /* importante pra imagem respeitar borda */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
  transition: transform 0.2s ease;
}

.cardapio-item:hover {
  transform: scale(1.03);
}

.cardapio-item img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* deixa a imagem bonita sem distorcer */
}

.cardapio-item h3 {
  margin: 10px;
}

.cardapio-item p {
  margin: 0 10px 15px;
  font-size: 14px;
  color: #ccc;
}

footer {
    background-color: #e9e0c9;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

@media (max-width: 1000px) {
    
.introducao-imagem img{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0px 0px 0px 0px;
    margin-top: 75px;
}

.introducao-texto {
    color: rgb(255, 183, 50);
    position: absolute;
    line-height: 1.5;
    font-size: 15px;
    z-index: 1;
    padding: 12px;
}

.cardapio-container {
    grid-template-columns: repeat(2, 1fr); /* mantém 2 */
    gap: 20px;
}
}